@font-face {
  font-family: "Spectral_SemiBold";
  src: url("./fonts/Spectral-SemiBold.ttf");
  }

@font-face {
  font-family: "Spectral_Regular";
  src: url("./fonts/Spectral-Regular.ttf");
  }

.title {
  font-family: Spectral_SemiBold;
  font-size: 48px;
  margin: 35px;
  border-bottom: 1px solid #C4C4C4;
}

.pageContainer {
  margin: 100px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  grid-gap: 20px;
}

.item {
  border: 1px solid #000000;
  border-radius: 10px;
}
