.titlePage {
  display: block;
}

.title {
  text-align: center;
}

.buttonList {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.buttons {
  width: 300px;
  margin: 5px 0 0 0;
  padding: 10px;
}
