@font-face {
  font-family: "Spectral_SemiBold";
  src: url("./fonts/Spectral-SemiBold.ttf");
  }

@font-face {
  font-family: "Spectral_Regular";
  src: url("./fonts/Spectral-Regular.ttf");
  }

.titlePage {
  display: block;
  margin: 75px auto;
}

.title {
  text-align: center;
  font-family: Spectral_SemiBold;
  font-size: 48px;
  margin: 35px;
}

.buttonList {
  display: flex;
  flex-direction: column;
}

.buttons {
  width: 435px;
  margin: 5px auto 0px auto;
  padding: 10px 0px;
  font-family: Spectral_Regular;
  font-size: 30px;
  text-decoration: none;
  color: #000000;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.buttons:hover {
  background-color: #000000;
  color: #FFFFFF;
}
