@font-face {
  font-family: "Spectral_SemiBold";
  src: url("Spectral-SemiBold.ttf");
  }

@font-face {
  font-family: "Spectral_Regular";
  src: url("Spectral-Regular.ttf");
  }


.titlePage {
  display: block;
}

.title {
  text-align: center;
  font-family: Spectral_SemiBold;
  font-size: 72px;
  margin: 35px;
}

.buttonList {
  display: flex;
  flex-direction: column;
}

.buttons {
  width: 300px;
  margin: 5px auto 0px auto;
  padding: 10px;
  font-family: Spectral_Regular;
  font-size: 48px;
}
