@font-face {
  font-family: "Spectral_SemiBold";
  src: url("./fonts/Spectral-SemiBold.ttf");
}

@font-face {
  font-family: "Spectral_Regular";
  src: url("./fonts/Spectral-Regular.ttf");
}

.body {
  margin: 0 50px;
  min-width: 900px;
}

.pageContainer {
  margin: 75px auto;
  display: block;
  max-width: 1200px;
  min-width: 800px;
}

.title {
  min-width: 900px;
  font-family: Spectral_SemiBold;
  font-size: 48px;
  border-bottom: 1px solid #c4c4c4;
}

.artContent {
  display: flex;
  margin-top: 20px;
}

.description {
  width: 100%;
  min-width: 260px;
  margin-right: 20px;
  font-family: Spectral_Regular;
  font-size: 24px;
}

.gridContainer {
  display: grid;
  margin-left: auto;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(2, 300px);
  grid-gap: 20px;
}

.item {
  border: 1px solid #000000;
  border-radius: 10px;
}
